footer .container {
  display: flex;
  justify-content: space-evenly;
}

p {
  margin: 0;
}

.css-17uklte svg {
  margin: 0 5px;
}

.bg {
  background-color: #222831;
}

@media screen and (max-width: 900px) {
  footer {
    position: unset;
  }
}

.my-svg {
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Change the color to #6c757d on hover */
.my-svg:hover path {
  fill: #6c757d;
}

