@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.navbar-collapse {
  flex-grow: 0;
  text-align: center;
}

.nav-link {
  font-weight: bold;
}
.active-link {
  background-color: #00ADB5;
  border-radius: 100px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 15px;
  }
}

.custom-background {
  height: 100%;
  background-color: #393E46;
}

.container{
  position: relative;
  z-index: 1;
}
